.main-sign {
    
}
.main-sign .app-layout-blank{
    height: 100vh;
}
.auth-welcome {
    font-size: 14px !important;
    text-align: left !important;
    font-weight: normal !important;
    color: #2D3748;
    margin-bottom: 5px !important;
}
.auth-welcome-enjoy {
    font-size: 24px !important;
    text-align: left !important;
    font-weight: bold !important;
    color: #1A202C ;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
    display: none;
    
}
.disabled {
    background-color: #85a0cd !important;/* Light gray background */
    cursor: not-allowed !important; /* Change cursor to not-allowed */
}

.icon-eye {
    cursor: pointer;
    width: 24px;
    height: 24px;
    fill: #000; /* Adjust color as needed */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.icon-eye.icon-eye-open path {
    fill: #007BFF; /* Change color to indicate password visibility */
}

.auth-bg {
    background-image: url("../img/auth-cover-main-bg.jpg");
    background-image: linear-gradient(#EDFBFF7C 30%, #009CF88A 70%), url('../img/auth-cover-main-bg.jpg');
    display: none;
}
@media (min-width: 1200px) {
    .auth-bg {
        display: flex;
    }
}
body.dark .p-in-auth {
    color: rgba(255, 255, 255, 0.776)
}
.my-2 {
    margin: .5rem 0;
}
