.sidebar2__wrapper {
    background-color: #FAFAFB;
}

body.dark .sidebar2__wrapper {
    background-color: transparent;
}

.sidebar2 {
    background-color: transparent;
}


.main-left-section {
    padding: 20px;
}

.main-app-content {
    padding: 20px;
}

.main-right-section {
    padding: 20px;
}

/* Default styles for mobile-first approach */
.sidebar2__box {
    display: none;
    margin-bottom: 30px;
}

.show-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    color: #333;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
    transition: .3s;
}

.show-more-btn:hover {
    background-color: #ddd;
}

.show-more-btn svg {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.show-more-btn.show-less svg {
    transform: rotate(180deg);
}

@media (min-width: 772px) and (max-width: 991px) {
    .container-main-page-app {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
    }

    .main-left-section {
        grid-column: 1;
        grid-row: 1 / span 2;
        padding: 0px;
    }

    .main-app-content {
        grid-column: 2;
        grid-row: 1;
        padding: 0px;
    }

    .main-right-section {
        grid-column: 2;
        grid-row: 2;
        padding: 0px;
    }
}

@media (min-width: 992px) {
    .container-main-page-app {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .main-left-section {
        grid-column: 1;
        padding: 0px;
    }

    .main-app-content {
        grid-column: 2;
        padding: 0px;
    }

    .main-right-section {
        grid-column: 3;
        padding: 0px;
    }
}




@media (min-width: 772px) {
    .sidebar2__box {
        display: block !important;
    }

    .show-more-btn {
        display: none;
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: rgb(0 0 0 / 3%);
    z-index: 2000;
}

.loading .spinner {
    z-index: 3000;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 15px;
    left: auto !important;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    min-width: 200px;
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0;
}
.menu-item-divider {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: #e5e7eb;
}