@tailwind base;
@tailwind components;
@tailwind utilities;

/* body.body-user .company-content {
    display: none !important;
} */
input#advertiseSwitcher {
    -webkit-appearance: auto !important;
    -moz-appearance: auto !important;
    appearance: auto !important;
}
.main-visible {
    display: block !important;
}
.main-hidden {
    display: none !important;
}

::-webkit-scrollbar {
    width: 8px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 8px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #009CF8; /* Color of the thumb */
    border-radius: 8px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #81B0D9; /* Color of the thumb when hovered */
}

.h-full {
    height: 100%;
}

.flex-auto {
    flex: 1 1 auto;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.my-2 {
    margin: .5rem 0;
}

.mt-2 {
    margin-top: .5rem !important;
}

.w-full {
    width: 100%;
}

.gap-2 {
    gap: 0.5rem
        /* 8px */
    ;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.mb-3 {
    margin-bottom: 0.75rem
        /* 12px */
    ;
}

.mb-5 {
    margin-bottom: 1.25rem
        /* 20px */
    ;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0% !important;
}

.gap-3 {
    gap: 0.75rem
        /* 12px */
    ;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-center {
    align-items: center;
}

.h-100vh {
    height: 100vh;
}

.px-4 {
    padding-left: 1rem
        /* 16px */
    ;
    padding-right: 1rem
        /* 16px */
    ;
}

.mb-8 {
    margin-bottom: 2rem
        /* 32px */
    ;
}

.card {
    padding: 0 !important;
}

/* General styles for the select element */
.select-multi {
    display: block;
    width: 100%;
    padding: 0.5rem;
    /* p-2 is equivalent to 0.5rem */
    margin-bottom: 1.5rem;
    /* mb-6 is equivalent to 1.5rem */
    font-size: 0.875rem;
    /* text-sm is equivalent to 0.875rem */
    color: #1f2937;
    /* text-gray-900 */
    border: 1px solid #d1d5db;
    /* border-gray-300 */
    border-radius: 0.5rem;
    /* rounded-lg */
    background-color: #f9fafb;
    /* bg-gray-50 */
}

/* Focus styles for light mode */
.select-multi:focus {
    outline: none;
    border-color: #3b82f6;
    /* focus:border-blue-500 */
    box-shadow: 0 0 0 3px #EDFBFF;
    /* focus:ring-blue-500 */
}

/* Styles for dark mode */
.dark .select-multi {
    background-color: #374151;
    /* dark:bg-gray-700 */
    border-color: #4b5563;
    /* dark:border-gray-600 */
    color: #f9fafb;
    /* dark:text-white */
}

.dark .select-multi::placeholder {
    color: #9ca3af;
    /* dark:placeholder-gray-400 */
}

/* Focus styles for dark mode */
.dark .select-multi:focus {
    border-color: #3b83f682;
    /* dark:focus:border-blue-500 */
    box-shadow: 0 0 0 3px #EDFBFF;
    /* dark:focus:ring-blue-500 */
}

/* styles.css */
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 999999999999 !important;
    opacity: 1 !important;
}


.main-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    display: none;
    z-index: 999999999999 !important;
    opacity: 1 !important;
    transition: .3s;
    overflow: hidden;
    max-width: 24rem;
    border-radius: 0.5rem;
    background-color: #ffff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: 1px solid #eee;
}
#dynamicToast {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    display: none;
    z-index: 999999999999 !important;
    opacity: 1 !important;
    transition: .3s;
    overflow: hidden;
    max-width: 24rem;
    border-radius: 0.5rem;
    background-color: #ffff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: 1px solid #eee;
    padding: 15px;
    color: #fff;
}
.ayc {
    --tw-text-opacity: 1;
    color: rgb(74 222 128 / var(--tw-text-opacity));
}
.sl {
    width: 1.5rem;
}
.oi {
    height: 1.5rem;
}
.toast-icon {
    width: 28px !important;
    height: 28px !important;
}

button:focus {
    outline: none !important;
}

a:hover {
    color: inherit !important;
    text-decoration: none !important;
}


#searchIcon {
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#suggestionsContainer {
    position: absolute;
    background: white;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    z-index: 1000;
}

.list-group-item {
    cursor: pointer;
}

/* Spinner styles */
.spinner {
    position: relative;
    height: 120px;
    width: 120px;
}

.spinner .rot {
    border: 3px solid transparent;
    border-top-color: #009CF8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
}

.spinner .rot:first-child {
    width: 90px;
    height: 90px;
    animation-duration: 1s;
    left: 20px;
    top: 25px;
}

.spinner .rot:nth-child(2) {
    width: 60px;
    height: 60px;
    animation-duration: 1.5s;
    left: 35px;
    top: 35px;
}

.spinner .rot:last-child {
    width: 30px;
    height: 30px;
    animation-duration: 2s;
    top: 46px;
    left: 49px;

}

@keyframes rotate {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/* Hide content initially */
#content {
    display: none;
}

/* Modal styles */
.modal-profile {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#editProfileModal .modal-content {
    height: 100vh !important;
}
#editProfileModal .modal-content #updateForm {
    overflow-y: scroll !important;
    padding-right: 20px;
}


.jobs-btn {
    background: #0062FF !important;
    color: #FAFAFB !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.jobs-btn:hover {
    background: #0054db !important;
}
#dropdownMenu {
    margin: 0 !important;
}

.modalProfileVideo {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1111; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9); /* Black background with transparency */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* .modalProfileVideo video {
    max-width: 90%;
    max-height: 90%;
} */

body.body-user .main_profile_user .profile__user {
    position: absolute;
    bottom: 10px;
    left: 0;
}
body.body-user .main_profile_user .main-profile-cover-image {
    margin: 0 !important;
}
.show-video-button {
    position: absolute;
    bottom: 20px !important;
    top: auto !important;
    right: 20px !important;
}
#closeVideoModal {
    position: fixed;
    top: 30px;
    right: 30px;
    color: #fff;
    background: #1e75ff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    opacity: 1 !important;
}
.modalProfileVideo-content {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profileVideo {
    width: 100%;
    height: 100%;
}
@media (max-width: 992px) {
    #profileVideo {
        width: 100%;
        height: auto !important;
    }
}

.post__foot .main_post__input {
    width: 100%;
    height: 46px;
    padding: 0 15px 0 15px;
    border: 1px solid #F1F1F5;
    background: #FAFAFB;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #171725;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post__publish-btn {
    
}

#removeFileBtn {
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #2271b1;
    color: #fff;
    width: 32px;
    height: 32px;
    align-items: center;
    border-radius: 50%;
    z-index: 9999999999999999;
}
#removeFileBtn .icon {
    font-size: 14px;
    fill: #fff;
    -webkit-transition: fill .25s;
    -o-transition: fill .25s;
    transition: fill .25s;
}

#sharePostBtn {
    background-color: #0062FF !important;
    color: #fff !important;
    transition: .3s;
}
#sharePostBtn:hover {
    background-color: #0054db !important;
}
.my-primary-btn {
    background-color: #0062FF !important;
    color: #fff !important;
    transition: .3s;
}
.my-primary-btn:hover {
    background-color: #0054db !important;
}
.icon-fill-like {
    width: 1em;
    height: 1em;
    fill: red !important;
} 

.comment__item {
    width: 100%;
    background-color: #f8f7f7;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.comment__item .comment__user{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.comment__item .comment__man{
    font-weight: 700;
    color: #424242;
}
.comment__item .comment__time{
    color: #155dce;
    font-size: 11px;
    font-weight: 500;
}
.comment__item .comment__text{
    padding-top: 10px;
    color: #555;
    font-weight: 400;
}
.switcher-adv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: .5rem;
    margin-left: 15px;
    gap: 7px;
    color: #333;
    font-weight: 500;
}

.switcher-adv input{

}

#advertiseOptions {
    margin: 0 10px .5rem 15px;
    flex-wrap: wrap;
    gap: 5px;
}